.header-main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-header {
  width: 100%;
  height: auto;
  padding: 29px 54px;
  align-self: stretch;
  background-color: rgba(255, 255, 255, 1);
}
.header-header,.header-frame-168 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-frame-168 {
  padding: 8px 406px;
  position: relative;
}
.header-frame-2 {
  gap: 75px;
  display: flex;
  align-items: center;
}
.header-text,.header-text1,.header-text2,.header-text3 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.header-frame-1 {
  gap: 248px;
  z-index: 1;
}
.header-frame-1,.header-frame-1681 {
  display: flex;
  align-items: center;
}
.header-frame-1681 {
  gap: 5px;
  justify-content: center;
}
.header-meubel-house-logos-05 {
  width: 50px;
  height: 32px;
}
.header-text4 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 34px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.header-mdiaccountalertoutline {
  width: 28px;
  height: 29px;
}
.header-akariconssearch {
  width: 26px;
  height: 26px;
}
.header-akariconsheart {
  width: 28px;
  height: 29px;
}
.header-antdesignshoppingcartoutlined {
  width: 28px;
  height: 26px;
}
@media(max-width: 768px) {
  .header-header {
    width: 1255px;
    height: 149px;
  }
}
