.bst-nav {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(33, 37, 41, 1);
}
.bst-nav:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div {
  width: 100%;
  display: flex;
  flex-wrap: inherit;
  max-width: 1320px;
  box-sizing: border-box;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: space-between;
}
.div:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a {
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
  text-wrap: nowrap;
  box-sizing: border-box;
  padding-top: 0.3125rem;
  margin-right: 1rem;
  padding-bottom: 0.3125rem;
  text-decoration-line: none;
  white-space-collapse: collapse;
}
.a:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.button {
  color: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  display: none;
  font-size: 1.25rem;
  appearance: button;
  box-sizing: border-box;
  margin-top: 0px;
  text-align: center;
  align-items: flex-start;
  font-family: inherit;
  line-height: 1;
  margin-left: 0px;
  padding-top: 1px;
  text-indent: 0px;
  text-shadow: none;
  margin-right: 0px;
  padding-left: 6px;
  word-spacing: normal;
  margin-bottom: 0px;
  padding-right: 6px;
  letter-spacing: normal;
  padding-bottom: 1px;
  text-rendering: auto;
  text-transform: none;
  background-color: transparent;
  border-top-color: buttonborder;
  border-top-style: outset;
  border-top-width: 2px;
  border-left-color: buttonborder;
  border-left-style: outset;
  border-left-width: 2px;
  border-right-color: buttonborder;
  border-right-style: outset;
  border-right-width: 2px;
  border-bottom-color: buttonborder;
  border-bottom-style: outset;
  border-bottom-width: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.button:hover,.button:focus {
  text-decoration-line: none;
}
.button:focus {
  box-shadow: 0 0 0 0.25rem;
  outline-width: 0px;
}
.button:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.span {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.span:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div1 {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  flex-basis: auto;
  align-items: center;
}
.div1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.ul {
  display: flex;
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: auto;
  padding-left: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  list-style-type: none;
}
.ul:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.repeater {
  width: auto;
  height: fit-content;
  display: grid;
  padding: 5px;
  position: relative;
  grid-template-columns: repeat(3,1fr) ;
}
.li {
  display: list-item;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
}
.li:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a1 {
  color: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color;
  text-decoration-line: none;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}
.a1:hover,.a1:focus {
  color: rgba(255, 255, 255, 0.75);
}
.a1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}

@media(max-width: 1199px) {
  .bst-nav {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .div {
    max-width: 960px;
  }
  .button {
    display: none;
  }
  .div1 {
    display: flex;
    flex-basis: auto;
  }
  .ul {
    margin-bottom: 0px;
    flex-direction: row;
  }
  .a1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media(max-width: 991px) {
  .div {
    max-width: 720px;
  }
}
@media(max-width: 768px) {
  .div {
    max-width: 540px;
  }
}
@media(max-width: 575px) {
  .bst-nav {
    position: relative;
    flex-wrap: wrap;
    background-color: rgba(33, 37, 41, 1);
  }
  .bst-nav,.div {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
  }
  .div {
    width: 100%;
    flex-wrap: inherit;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .a {
    color: #fff;
    text-wrap: nowrap;
    padding-top: 0.3125rem;
    margin-right: 1rem;
    padding-bottom: 0.3125rem;
    text-decoration-line: none;
    white-space-collapse: collapse;
  }
  .a,.button {
    cursor: pointer;
    font-size: 1.25rem;
    box-sizing: border-box;
  }
  .button {
    color: rgba(255, 255, 255, 0.55);
    appearance: button;
    margin-top: 0px;
    text-align: center;
    align-items: flex-start;
    font-family: inherit;
    line-height: 1;
    margin-left: 0px;
    padding-top: 1px;
    text-indent: 0px;
    text-shadow: none;
    margin-right: 0px;
    padding-left: 6px;
    word-spacing: normal;
    margin-bottom: 0px;
    padding-right: 6px;
    letter-spacing: normal;
    padding-bottom: 1px;
    text-rendering: auto;
    text-transform: none;
    background-color: transparent;
    border-top-color: buttonborder;
    border-top-style: outset;
    border-top-width: 2px;
    border-left-color: buttonborder;
    border-left-style: outset;
    border-left-width: 2px;
    border-right-color: buttonborder;
    border-right-style: outset;
    border-right-width: 2px;
    border-bottom-color: buttonborder;
    border-bottom-style: outset;
    border-bottom-width: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .button,.span {
    display: inline-block;
  }
  .span {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  .span,.div1 {
    box-sizing: border-box;
  }
  .div1 {
    display: none;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
  }
  .ul {
    display: flex;
    margin-top: 0px;
    margin-left: auto;
    padding-left: 0px;
    margin-bottom: 0.5rem;
    flex-direction: column;
    list-style-type: none;
  }
  .ul,.li {
    box-sizing: border-box;
  }
  .li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .a1 {
    color: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-property: color, background-color, border-color;
    text-decoration-line: none;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  }
}
