.bst-our-bolg {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: calc(-1 * 0);
  margin-left: calc(-0.5 * 3rem);
  margin-right: calc(-0.5 * 3rem);
  justify-content: center;
}
.bst-our-bolg:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div {
  width: 50%;
  display: block;
  flex-grow: 0;
  max-width: 100%;
  box-sizing: border-box;
  flex-basis: auto;
  margin-top: 0;
  flex-shrink: 0;
  padding-left: calc(3rem * 0.5);
  padding-right: calc(3rem * 0.5);
}
.div:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div1 {
  display: block;
  box-sizing: border-box;
  text-align: center;
}
.div1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.h-2 {
  display: block;
  font-size: 2rem;
  box-sizing: border-box;
  margin-top: 0px;
  font-weight: bolder;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.h-2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p {
  color: rgb(108, 117, 125);
  display: block;
  font-size: 1.25rem;
  box-sizing: border-box;
  margin-top: 0px;
  font-weight: 400;
  margin-bottom: 3rem;
}
.p:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

@media(max-width: 1199px) {
  .div {
    width: 66.6667%;
    flex-grow: 0;
    flex-basis: auto;
  }
}
@media(max-width: 575px) {
  .bst-our-bolg {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: calc(-1 * 0);
    margin-left: calc(-0.5 * 3rem);
    margin-right: calc(-0.5 * 3rem);
    justify-content: center;
  }
  .div {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    flex-shrink: 0;
    padding-left: calc(3rem * 0.5);
    padding-right: calc(3rem * 0.5);
  }
  .div,.div1 {
    display: block;
    box-sizing: border-box;
  }
  .div1 {
    text-align: center;
  }
  .h-2 {
    font-size: calc(1.325rem + 0.9vw);
    font-weight: bolder;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
  .h-2,.p {
    display: block;
    box-sizing: border-box;
    margin-top: 0px;
  }
  .p {
    color: rgb(108, 117, 125);
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 3rem;
  }
}
