.our-products {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text {
  color: rgba(58, 58, 58, 1);
  height: auto;
  position: relative;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.our-products1 {
  width: 1236px;
  height: 1084px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: center;
}
.frame-7 {
  gap: 32px;
  top: 80px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: center;
}
.repeater {
  gap: var(--spacing-two-units);
  width: auto;
  height: fit-content;
  display: grid;
  padding: 5px;
  position: relative;
  grid-template-columns: repeat(4,1fr);
}
.featured-products {
  width: 285px;
  height: 446px;
  position: relative;
  flex-shrink: 0;
  background-color: #f4f5f7;
}
.featured-products,.description {
  display: flex;
  align-items: flex-start;
}
.description {
  top: 317px;
  left: 16px;
  height: 99px;
}
.description,.price {
  width: 249px;
  position: absolute;
  flex-shrink: 1;
}
.price {
  top: 69px;
  height: 30px;
  align-items: flex-start;
}
.price,.frame-6 {
  left: 0px;
  display: flex;
}
.frame-6 {
  gap: 16px;
  top: 0px;
  position: absolute;
  align-items: center;
}
.discounted-price {
  color: rgba(58, 58, 58, 1);
  font-size: 20px;
  font-style: SemiBold;
  font-weight: 600;
  text-decoration: none;
}
.discounted-price,.original-price {
  height: auto;
  text-align: left;
  font-family: Poppins;
  line-height: 150%;
  font-stretch: normal;
}
.original-price {
  color: rgba(176, 176, 176, 1);
  font-size: 16px;
  font-style: Regular;
  font-weight: 400;
  text-decoration: line-through;
}
.productname {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 61px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.text1 {
  color: rgba(58, 58, 58, 1);
  width: 100%;
  height: 58px;
  font-size: 24px;
  font-style: SemiBold;
  font-weight: 600;
  line-height: 120.00000476837158%;
}
.text1,.text2 {
  position: absolute;
  text-align: left;
  font-family: Poppins;
  font-stretch: normal;
  text-decoration: none;
}
.text2 {
  top: 37px;
  color: rgba(137, 137, 137, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  font-weight: 500;
  line-height: 150%;
}
.images,.image-5 {
  top: 0px;
  left: 0px;
  width: 285px;
  height: 301px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.image-5 {
  background-color: rgba(176, 176, 176, 1);
}
.image-1 {
  top: 0px;
  left: 0px;
  width: 285px;
  height: 301px;
  position: absolute;
}
.label {
  top: 24px;
  left: 213px;
}
.label,.discount {
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discount,.ellipse-3 {
  top: 0px;
  left: 0px;
}
.ellipse-3 {
  width: 48px;
  height: 48px;
  position: absolute;
}
.discount-percentage {
  top: 12px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

@media(max-width: 1024px) {
  .our-products1 {
    align-items: center;
  }
  .our-products1,.frame-7 {
    width: 100%;
    display: flex;
  }
  .frame-7 {
    justify-content: center;
  }
  .repeater {
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
  }
}
@media(max-width: 768px) {
  .repeater {
    grid-template-columns: repeat(2,1fr);
  }
}
@media(max-width: 480px) {
  .repeater {
    width: 100%;
    grid-template-columns: repeat(1,1fr);
  }
}
